@{
    ViewBag.Title = "Phone";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <!--===============================================================================================-->
    <title>Книжный магазин</title>
    <h1>@ViewBag.Greeting</h1>
    <h3>@ViewBag.Head</h3>
    <h3>@DateTime.Now.ToShortTimeString()</h3>
</head>
<body>
	<div class="table100 ver6 m-b-110">
		<table data-vertable="ver6">
			<tr class="row100 head">
				<th class="column100 column1" data-column="column1"><p>ID</p></th>
				<th class="column100 column2" data-column="column2">Имя</th>
				<th class="column100 column3" data-column="column3">Фамилия</th>
				<th class="column100 column4" data-column="column4">Номер</th>
				<th class="column100 column5" data-column="column5">Э-майл</th>
				@if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated == true)
				{
					<th class="column100 column6" data-column="column6"></th>}
				<th class="column100 column7" data-column="column7"></th>
				<!--<th class="column100 column6" data-column="column6"></th>-->
			</tr>
			@foreach (var b in ViewBag.Phones)
			{
				<tr class="row100">
					<td class="column100 column1" data-column="column1"><p>@b.Id</p></td>
					<td class="column100 column2" data-column="column2"><p>@b.Name</p></td>
					<td class="column100 column3" data-column="column3"><p>@b.Surname</p></td>
					<td class="column100 column4" data-column="column4"><p>@b.Number</p></td>
					<td class="column100 column5" data-column="column5"><p>@b.Email</p></td>
					<td>@Html.ActionLink("Изменить", "EditPhone", new { id = @b.Id })</td>
					@if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated == true)
					{

					}
				</tr>
			}
		</table>

	</div>
	@Html.ActionLink("Добавить контакт", "AddPhone")
	<!--===============================================================================================-->
	<script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/vendor/bootstrap/js/popper.js"></script>
	<script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/js/main.js"></script>
</body>
</html>